---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.tsx';
import CropEditor from '../components/CropEditor.tsx';
---
<Layout title="Crop - Xani Image Studio">
  <Header client:load />
  <main>
    <CropEditor client:load />
  </main>
  <Footer />
</Layout>
